USE [TCC]
GO
/****** Object:  Table [dbo].[CoilData]    Script Date: 25/06/2023 19:44:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoilData](
	[Timestamp] [varchar](50) NOT NULL,
	[CoilCode] [varchar](50) NOT NULL,
	[Signal1] [float] NULL,
	[Signal2] [float] NULL,
	[Signal3] [float] NULL,
	[Signal4] [float] NULL,
	[Signal5] [float] NULL,
	[Signal6] [float] NULL,
	[Signal7] [float] NULL,
	[Signal8] [float] NULL,
 CONSTRAINT [PK_CoilData] PRIMARY KEY CLUSTERED 
(
	[Timestamp] ASC,
	[CoilCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CoilData] ([Timestamp], [CoilCode], [Signal1], [Signal2], [Signal3], [Signal4], [Signal5], [Signal6], [Signal7], [Signal8]) VALUES (N'2022-09-10 09:11:13.690', N'A000000001', 0, 0.368797, 1.205418, 0.161677, 0.207121, 0.489885, 0.715534, 48.871529)
INSERT [dbo].[CoilData] ([Timestamp], [CoilCode], [Signal1], [Signal2], [Signal3], [Signal4], [Signal5], [Signal6], [Signal7], [Signal8]) VALUES (N'2022-09-10 09:11:14.190', N'A000000001', 0, 0.315082, 0.996083, 0.132903, 0.18218, 0.38694, 0.609143, 47.005207)
INSERT [dbo].[CoilData] ([Timestamp], [CoilCode], [Signal1], [Signal2], [Signal3], [Signal4], [Signal5], [Signal6], [Signal7], [Signal8]) VALUES (N'2022-09-10 09:11:14.690', N'A000000001', 0, 0.27215, 0.799512, 0.107027, 0.165123, 0.290838, 0.508674, 46.050346)
GO
ALTER TABLE [dbo].[CoilData]  WITH CHECK ADD  CONSTRAINT [FK_CoilData_ProductionData] FOREIGN KEY([CoilCode])
REFERENCES [dbo].[ProductionData] ([CoilCode])
GO
ALTER TABLE [dbo].[CoilData] CHECK CONSTRAINT [FK_CoilData_ProductionData]
GO
